{% extends 'base.html' %}

{% load static from staticfiles %}

{% block loadfiles %}
{% endblock %}

{% block encabezado %}
    <div class="page_title">
        <h2>¿Qué es?</h2>
        <h4></h4>
    </div>
{% endblock %}
{% block contenido %}
  <section class="row">
      <div class="container">
        <div class="row">
  <div class="col-sm-12 col-sm-6">
    <div class="sec_header_left">
      <h2>DEVFEST</h2>
    </div>  
    <img class="img-responsive" src="{% static "images/devfest2013.jpg" %}" alt="Devfest Bogotá 2013">
    <p>El Google IO Extended 2017 es un evento organizado por la comunidad donde se presentan diferentes sesiones técnicas alrededor de las tecnologías de Google para desarrolladores. Organizamos el Google IO Extended 2017 porque creemos que cuando juntamos varios desarrolladores que intercambian ideas, cosas increíbles pueden pasar.</p>
  </div>
  <div class="col-sm-12 col-sm-6">
    <div class="sec_header_left">
      <h2>GDG</h2>
    </div>  
    <img class="img-responsive" src="{% static "images/GoogleDeveloperBus.jpg" %}" alt="GDG Bogotá">
    <p>Google Developers Group (GDG) - es una comunidad abierta para crear y compartir experiencias y proyectos interesantes con tecnologías Google.</p>
    <p>Somos un grupo de personas que utilizamos las tecnologías de Google a diario, ya sea en el ámbito laboral, desde el desarrollo de aplicaciones, o como usuarios finales de sus productos. Nuestro principal interés, es integrar a la comunidad, personas como nosotros y entre todos comunicar, compartir e incentivar el conocimiento y la difusión de información con el fin de ampliar el uso de las tecnologías de Google en la sociedad Boliviana</p>
  </div>
</div>
      </div>
    </section>
    <section class="row gallery">
    <div class="container">
        <div class="row sec_header">
            <h2>Nuestros eventos</h2>
            <p>Hacemos varios eventos en la comunidad.</p>
        </div>
    </div>
    <div class="gallery_inner">
      
      <div class="col-sm-3 item"> 
        <a href="{% static "images/past_events/1.jpg" %}" data-lightbox="roadtrip">
          <img src="{% static "images/past_events/1.jpg" %}" alt="">
        </a> 
      </div>
      
      <div class="col-sm-3 item"> 
        <a href="{% static "images/past_events/2.jpg" %}" data-lightbox="roadtrip">
          <img src="{% static "images/past_events/2.jpg" %}" alt="">
        </a> 
      </div>
      
      <div class="col-sm-3 item"> 
        <a href="{% static "images/past_events/3.jpg" %}" data-lightbox="roadtrip">
          <img src="{% static "images/past_events/3.jpg" %}" alt="">
        </a> 
      </div>
      
      <div class="col-sm-3 item"> 
        <a href="{% static "images/past_events/4.jpg" %}" data-lightbox="roadtrip">
          <img src="{% static "images/past_events/4.jpg" %}" alt="">
        </a> 
      </div>
      
    </div>
  </section>
{% endblock %}

{% block loadfilesbelow %}
      
{% endblock %}
