{% extends 'base.html' %}

{% load static from staticfiles %}


{% block title %} Agenda | Google IO Extended 2017 {% endblock %}

{% block loadfiles %}
{% endblock %}

{% block encabezado %}
<div class="page_title">
              <h2>Agenda</h2>
              <h4></h4>
          </div>
{% endblock %}
{% block contenido %}
<section class="row">
  <div class="container"> 

  <section class="agenda" id="conferencias">
  <h2>Conferencias y Talleres</h2>
    <div class="schedules">
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
          <div class="talk-header">
            <div class="time">
              8:00
            </div>
          </div>

        </div>

        <div class="talk ">
          <div class="talk-header">
            <div class="time">
              9:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:20
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:40
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              16:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              16:20
            </div>
          </div>

        </div>

         <div class="talk meanwhile">
          <div class="talk-header">
            <div class="time">
              16:50
            </div>
          </div>

        </div>
        
      </div>
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>CONFERENCIAS</strong> <small>TECH TALKS STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk" >
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong> Google Cloud & Machine Learning</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Ruth Chirinos
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Desarrollo de Apps de Video Interactivas con Angular</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Luis Aviles
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong> Introducción a deep learning con tensorflow </strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Jose Laruta
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Mi primer chatbot con Api.ai</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Hansy
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>MC4 - Transformando Energía</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              André Ticona (MC4)  
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Inteligencia Artificial para Todos</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Beto Saavedra
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>La revolución digital móvil usando Angular JS</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Marco Martinez
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Kotlin - Android para Java haters... y lovers también!</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Armando 
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Angular on fire</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Mauricio De La Quintana
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk disabled-square">
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Trabaja desde tu casa con Toptal</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Edwin Guzman
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>¿Qué son las Progressive Web Apps?</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Nicolas Molina
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Qamaqi, Sajama y la leyenda de Sabaya</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Amikar Contreras y Daniel Revilla
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Nodedades del Google I/O 2017</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Yazi
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              <strong>Abanico de opciones con Android Things</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Nagib Luis
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Pemiación
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
      </div>
            
      <div class="schedule">
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>TALLERES</strong> <small>CODELABS STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              <strong> Construyendo tu app con Ionic y Firebase </strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Nicolas Molina
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
          
            <div class="talk">
          
          <div class="talk-header">
            <div class="name">
              Panel: Kotlin vs Java
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">         
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
          <div class="talk disabled-square">
          
            <div class="talk-header">
              <div class="name">
                Break
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              <strong>WebVR: Como crear mundos virtuales con JavaScript</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              Edwin Salcedo
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>

          <div class="talk">
          
            <div class="talk-header">
              <div class="name">
                Panel: Mobile First vs AI First
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">         
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk disabled-square">
        
            <div class="talk-header">
              <div class="name">
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk disabled-square">
          
            <div class="talk-header">
              <div class="name">
                Break
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk__double">
          
            <div class="talk-header">
              <div class="name">
                <strong>Android Architecture Changes</strong>
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
                Andres Vasquez
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk">
          
            <div class="talk-header">
              <div class="name">
                Panel: Desarrollo móvil nativo vs Desarrollo móvil híbrido
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">         
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk disabled-square">
        
            <div class="talk-header">
              <div class="name">
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>


          <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Pemiación
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>


        
        
      </div>
    </div>
  </section>
  
  </div>
</section>

<section class="agenda" id="actividades">
  <h2>Actividades</h2>
    <div class="schedules">
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
          <div class="talk-header">
            <div class="time">
              8:00
            </div>
          </div>

        </div>

        <div class="talk ">
          <div class="talk-header">
            <div class="time">
              9:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:20
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:40
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              16:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              16:20
            </div>
          </div>

        </div>

         <div class="talk meanwhile">
          <div class="talk-header">
            <div class="time">
              16:50
            </div>
          </div>

        </div>
        
      </div>
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>JUEGOS</strong> <small>GAMES STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk" >
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk__double" style="height: 1063px;">
        
          <div class="talk-header">
            <div class="name">
              <strong> Games Stage </strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Pemiación
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
      </div>
            
      <div class="schedule">
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>COMPETENCIA DE ROBOTS</strong> <small>ROBOTICS STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk disabled-square" style="height: 680px;">
          
            <div class="talk-header">
              <div class="name">
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
        </div>

        <div class="talk__double" style="height: 457px;">
          
          <div class="talk-header">
            <div class="name">
              <strong> Robotics Stage</strong>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
          
          <div class="talk disabled-square">
          
            <div class="talk-header">
              <div class="name">
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>


          <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Pemiación
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

      </div>

      <div class="schedule">
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>AREA DE PROYECTOS</strong> <small>TECH FAIR STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk disabled-square" style="height: 300px;">
          
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
          
        <div class="talk" style="height: 550px;">
          
          <div class="talk-header"  >
            <div class="name">
              Tech Fair Stage
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">         
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
          
          <div class="talk disabled-square" style="height: 362px;">
          
            <div class="talk-header">
              <div class="name">
              </div>
            </div>
            <div class="talk-body">
              <div class="speaker">
                
              </div>
              <div class="description">
                
              </div>
            </div>
          </div>

          <div class="talk meanwhile">
        
          <div class="talk-header">
            <div class="name">
              Pemiación
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
            
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  </div>
</section>
{% endblock %}

{% block loadfilesbelow %}
      
{% endblock %}
