{% extends 'base.html' %}

{% load static from staticfiles %}


{% block title %} Cómo llegar | Google IO Extended 2017 {% endblock %}

{% block loadfiles %}
{% endblock %}

{% block encabezado %}
<div class="page_title">
              <h2>Agenda</h2>
              <h4></h4>
          </div>
{% endblock %}
{% block contenido %}
<section class="row">
  <div class="container"> 

  <section class="agenda">
  <h2>Conferencias y Talleres</h2>
    <div class="schedules">
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              8:00 AM
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              15:00
            </div>
          </div>

        </div>
        
      </div>
      <div class="schedule">
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>CONFERENCIAS</strong> <small>TECH TALKS STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Registro
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>

        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Antonio Guzmán
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Desarrollo Android: Primeros pasos, trucos y atajos
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Ronald Velásquez - GDG Open (Perú)
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Integración básica de Android y Firebase
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Santiago Carrillo
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              IoT con MATRIX Creator y RaspberryPi
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Equipo Matrix Labs
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Progressive Web Apps - El futuro (presente) de la web
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Diego Coy
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              No solo de big data vive el hombre - Análisis de small data con R
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Sonia Ardila
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Cloudendpoints y Google Machine Learning
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Antonio Guzmán
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
      </div>
            
      <div class="schedule">
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              <strong>TALLERES</strong> <small>CODELABS STAGE</small>
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>          
        <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              ¿Scope? y ES6/ES2015, el JavaScript que deberíamos estar usando
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Daniel Coy
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              IoT - Real Time (Angular 2 + AngularFire2 + Firebase)
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Andrés Ciceri
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk disabled-square">
          
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              PWAs ¡La web en el móvil como debe ser!
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Jorge Eduardo Ardila
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
      </div>
    </div>
  </section>
  
  </div>
</section>

<!-- HOLA HOLA HOLA HOLA HOLA HOLA --> <!-- HOLA HOLA HOLA HOLA HOLA HOLA --> <!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA --><!-- HOLA HOLA HOLA HOLA HOLA HOLA -->
<section class="row">
  <div class="container"> 

  <section class="agenda">
  <h2>Actividades</h2>
    <div class="schedules">
      <div class="schedule">
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              9:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              10:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              11:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:00
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              12:30
            </div>
          </div>

        </div>
        
        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              13:30
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:00
            </div>
          </div>

        </div>

        <div class="talk">
          <div class="talk-header">
            <div class="time">
              14:00
            </div>
          </div>

        </div>
        
      </div>
      <div class="schedule">
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Bienvenida
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Keynote
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Antonio Guzmán
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Desarrollo Android: Primeros pasos, trucos y atajos
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Ronald Velásquez - GDG Open (Perú)
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Integración básica de Android y Firebase
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Santiago Carrillo
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              IoT con MATRIX Creator y RaspberryPi
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Equipo Matrix Labs
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Progressive Web Apps - El futuro (presente) de la web
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Diego Coy
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk disabled-square">
        
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              No solo de big data vive el hombre - Análisis de small data con R
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Sonia Ardila
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
        
        <div class="talk">
        
          <div class="talk-header">
            <div class="name">
              Cloudendpoints y Google Machine Learning
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Antonio Guzmán
              
            </div>
            <div class="description">
              
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="schedule">
        <div class="talk__double disabled-square">
        </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              Internet de las Cosas desde la nube de Microsoft
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Camilo Rodriguez
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              Primeros pasos con Android TV
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Marlon López
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk disabled-square">
          
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              IoT con MATRIX Creator y RaspberryPi
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Equipo Matrix Labs
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        

      </div>
      
      <div class="schedule">
        <div class="talk__double disabled-square">
        </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              ¿Scope? y ES6/ES2015, el JavaScript que deberíamos estar usando
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Daniel Coy
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              IoT - Real Time (Angular 2 + AngularFire2 + Firebase)
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Andrés Ciceri
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk disabled-square">
          
          <div class="talk-header">
            <div class="name">
              Break
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
          
            <div class="talk__double">
          
          <div class="talk-header">
            <div class="name">
              PWAs ¡La web en el móvil como debe ser!
            </div>
          </div>
          <div class="talk-body">
            <div class="speaker">
              
              - Jorge Eduardo Ardila
              
            </div>
            <div class="description">
              
            </div>
          </div>
          </div>
        
      </div>
    </div>
  </section>
  
  </div>
</section>
{% endblock %}

{% block loadfilesbelow %}
      
{% endblock %}
