{% extends 'base.html' %}

{% load static from staticfiles %}


{% block title %} Competencia de Robots | Google IO Extended 2017 {% endblock %}

{% block loadfiles %}
{% endblock %}

{% block encabezado %}
<div class="page_title">
              <h2>Competencia de Robots</h2>
              <h4></h4>
          </div>
{% endblock %}
{% block contenido %}
<section class="row">
      <div class="container">
        <section class="row get-there">

  <p align="middle">
    <img src="{% static "images/robots.jpg" %}" width="50%" style="margin: 30px;">
  </p>

  <p>Ven y sé parte de la competencia de Robots este  17 de Junio en la Cinemateca Boliviana, participa de la competencia de Robots en el Google IO Extended en las siguientes categorias:</p>
  <ul>
<li>  SUMO</li>
<li>  MINISUMO</li>
<li> SEGUIDOR DE LINEAS</li>
  </ul>
<p>
Para participar solo o en equipo sigue los siguientes pasos:
</p>

<p>1. Registrate en el evento Google IO Extended 
     <a href="http://googleio.gdglapaz.com/registro"><strong>http://googleio.gdglapaz.com/registro</strong></a></p>

<p>2. Registra a tu robot y a tu equipo en:  <strong><a href="http://robots.gdglapaz.com">http://robots.gdglapaz.com</a></strong>  

Recuerda que si como equipo se registran hasta 3 personas, solo pagan 40 Bs, También puedes registrar a tu equipo durante el evento, pero lo más recomendable registrarte con anticipación.</p>

<p>3. Completa tu registro con tu deposito bancario en las siguientes cuentas:</p>

     <p>BANCO UNION, Nro. de cuenta: 10000016227155, 
     a nombre de Juan Victor Aguilar Cusicanqui</p>
     
     <p>BANCO NACIONAL DE BOLIVIA, Nro. de cuenta: 1502107115, 
     a nombre de Juan Victor Aguilar Cusicanqui </p>

<h3>Bases del concurso</h3>

<p style="margin-bottom: 30px;">SUMO Y MINISUMO   <a href="https://goo.gl/zTfFCl"><strong>https://goo.gl/zTfFCl</strong> </a><br>
SEGUIDOR DE LINEAS <a href="https://goo.gl/7KagPE"> <strong>https://goo.gl/7KagPE</strong></a></p>

</section>
</div>
{% endblock %}

{% block loadfilesbelow %}
      
{% endblock %}
