{% extends 'base.html' %}

{% load static from staticfiles %}

{% block loadfiles %}
{% endblock %}

{% block encabezado %}
<div class="row m0 count_down" style="color: #c0c6e2">
  <h2 style="font-size: 4rem;">Google IO Extended La Paz 2017</h2>
  <h4 style="line-height: 150%;">¡La conferencia de tecnologías Google más grande de La Paz! Aprenderás sobre Android, Angular 2, PWA, Firebase, Cloud y más con expertos cada área.</h4>

  <h3 style="color: #dadada">17 de Junio de 2017</h3>

  <section class="thanks-section" >
    <div class="links"  style="font-size: 2rem;">
      <!-- <a class="buttonblue" href="https://docs.google.com/forms/d/e/1FAIpQLSd1D5mcK-HCbnu6C3fmKY19NAZjPassfl3v0ElQpITz11NIeQ/viewform" rel="noopener" target="_blank">Call for Speakers</a> 
      <a class="buttonblue" href="https://docs.google.com/forms/d/e/1FAIpQLScPzyUQOMu7mtlZsneAXhs0XY6LyJTwqTtrNc_aCJw3DBTINA/viewform" rel="noopener" target="_blank">Call for Demos</a> -->
      <a class="button-skyblue" href="competencia-robots" >Competencia de Robots </a> 
      <a class="button-skyblue" href="registro" >Regístrate <i class="fa fa-arrow-circle-right"></i></a> 
    </div>
  </section>
</div>
<div class="row m0 event_info">
  <div class="col-md-4 event_info_describe">
    <div class="media item">
      <div class="media-left media-middle icon_side">
        <a >
          <i class="fa fa-map-marker"></i>
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">Cinemateca Boliviana</h3>
        <p>Calle Oscar Soria <br> esq. Rosendo Gutierrez #110</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 event_info_describe">
    <div class="media item">
      <div class="media-left media-middle icon_side">
        <a >
          <i class="fa fa-microphone"></i>
        </a>
      </div>
      <div class="media-body">
        <!--<h3 class="media-heading">14 Speakers</h3>-->
        <h3 class="media-heading">15 Speakers</h3>
        <p>Quienes compartirán sus conocimientos con la comunidad</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 event_info_describe">
    <div class="media item">
      <div class="media-left media-middle icon_side">
        <a >
          <i class="fa fa-ticket"></i>
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">450 Asistentes</h3>
        <p>Disfrutarán de esta experiencia única</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block contenido %}
<section class="row event">
  <div class="container">
    <div class="row event_inside">
      <div class="col-md-8 event_left">
        <div class="row">
          
            <div class="col-sm-6 event_describe">
              <div class="media item">
                <div class="media-body">
                  <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Conferencias<br><small>Tech Talks Stage</small></h4>
                </div>
                <div class="media-left media-middle icon_side">
                  <a href="agenda/#conferencias" data-toggle="tooltip" data-placement="bottom" title="Ver conferencias">
                    <!-- <i class="fa fa-microphone"></i> -->
                    <img src="{% static "images/icons/talk.svg" %}" width="60" height="60" class="hvr-shrink"/>
                  </a>
                </div>
              </div>
            </div>
          
              <div class="col-sm-6 event_describe">
                <div class="media item">
                  <div class="media-body">
                    <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Talleres<br><small>Codelabs Stage</small></h4>
                  </div>
                  <div class="media-left media-middle icon_side">
                    <a href="agenda/#conferencias" data-toggle="tooltip" data-placement="bottom" title="Ver talleres">
                      <!-- <i class="fa fa-code-fork"></i> -->
                      <img src="{% static "images/icons/code.svg" %}" width="60" height="60" class="hvr-shrink" />
                    </a>
                  </div>
                </div>
              </div>
          
            <div class="col-sm-6 event_describe">
              <div class="media item">
                  <div class="media-body">
                    <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Feria de Proyectos<br><small>Project Fair Stage</small></h4>
                  </div>
                  <div class="media-left media-middle icon_side">
                    <a href="agenda/#actividades" data-toggle="tooltip" data-placement="bottom" title="Ver cronograma de la feria de proyectos">
                      <!-- <i class="fa fa-star"></i> -->
                      <img src="{% static "images/icons/project.svg" %}" width="60" height="60" class="hvr-shrink"/>
                    </a>
                  </div>
                </div>
            </div>

            <div class="col-sm-6 event_describe">
              <div class="media item">
                <div class="media-body">
                  <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Competencia de Robots<br><small>Robotics Stage</small></h4>
                </div>
                <div class="media-left media-middle icon_side">
                  <a href="competencia-robots/" data-toggle="tooltip" data-placement="bottom" title="Ver competencia de robots">
                    <!-- <i class="fa fa-cogs"></i> -->
                    <img src="{% static "images/icons/robot.svg" %}" width="60" height="60" class="hvr-shrink"/>
                  </a>
                </div>
              </div>
            </div>
          
            <div class="col-sm-6 event_describe" style="border-top: 1px solid #4ae9c1;">
              <div class="media item">
                <div class="media-body">
                  <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Zona de juegos<br><small>Games Stage</small></h4>
                </div>
                <div class="media-left media-middle icon_side">
                  <a href="agenda/#actividades" data-toggle="tooltip" data-placement="bottom" title="Ver cronograma de la zona de juegos">
                    <!-- <i class="fa fa-cogs"></i> -->
                    <img src="{% static "images/icons/game.svg" %}" width="60" height="60" class="hvr-shrink"/>
                  </a>
                </div>
              </div>
            </div>
          
            <div class="col-sm-6 event_describe" style="border-top: 1px solid #4ae9c1;">
              <div class="media item">
                <div class="media-body">
                  <h4 class="media-heading pull-right" style="margin-right: 15px;text-align: right;">Sponsors<br><small>Made it possible</small></h4>
                </div>
                <div class="media-left media-middle icon_side">
                  <a href="#sponsors" data-toggle="tooltip" data-placement="bottom" title="Ver patrocinadores">
                    <!-- <i class="fa fa-users"></i> -->
                    <img src="{% static "images/icons/shakehand.svg" %}" width="60" height="60" class="hvr-shrink" />
                  </a>
                </div>
              </div>
            </div>
          
        </div>
      </div>
      <div class="col-md-4 event_right hidden-xs hidden-sm">
        <img class="img-responsive" src="{% static "images/past_events/pastevents.jpg" %}" alt="#">
      </div>
    </div>
  </div>
</section>
<!-- 

<section class="agenda">
  <h2>Agenda</h2>
  <div class="schedules">
    <div class="schedule">
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            9:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            9:15
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            10:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            11:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            12:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            13:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            14:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            15:00
          </div>
        </div>

      </div>
      
      <div class="talk">
        <div class="talk-header">
          <div class="time">
            16:00
          </div>
        </div>

      </div>
      
    </div>
    <div class="schedule">
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Bienvenida
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Keynote
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Antonio Guzmán
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Desarrollo Android: Primeros pasos, trucos y atajos
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Ronald Velásquez - GDG Open (Perú)
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Integración básica de Android y Firebase
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Santiago Carrillo
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            IoT con MATRIX Creator y RaspberryPi
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Equipo Matrix Labs
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Progressive Web Apps - El futuro (presente) de la web
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Diego Coy
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk disabled-square">
      
        <div class="talk-header">
          <div class="name">
            Break
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            No solo de big data vive el hombre - Análisis de small data con R
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Sonia Ardila
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
      
      <div class="talk">
      
        <div class="talk-header">
          <div class="name">
            Cloudendpoints y Google Machine Learning
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Antonio Guzmán
            
          </div>
          <div class="description">
            
          </div>
        </div>
      </div>
      
    </div>
    
    <div class="schedule">
      <div class="talk__double disabled-square">
      </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            Internet de las Cosas desde la nube de Microsoft
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Camilo Rodriguez
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            Primeros pasos con Android TV
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Marlon López
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk disabled-square">
        
        <div class="talk-header">
          <div class="name">
            Break
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            IoT con MATRIX Creator y RaspberryPi
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Equipo Matrix Labs
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      

    </div>
    
    <div class="schedule">
      <div class="talk__double disabled-square">
      </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            ¿Scope? y ES6/ES2015, el JavaScript que deberíamos estar usando
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Daniel Coy
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            IoT - Real Time (Angular 2 + AngularFire2 + Firebase)
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Andrés Ciceri
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk disabled-square">
        
        <div class="talk-header">
          <div class="name">
            Break
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
        
          <div class="talk__double">
        
        <div class="talk-header">
          <div class="name">
            PWAs ¡La web en el móvil como debe ser!
          </div>
        </div>
        <div class="talk-body">
          <div class="speaker">
            
            - Jorge Eduardo Ardila
            
          </div>
          <div class="description">
            
          </div>
        </div>
        </div>
      
    </div>
  </div>
</section> -->
 <section class="row sponsor">
  <div class="container">
    <div class="row sponsor_inner sponsors" id="sponsors">
      <h2>Nuestros <span>patrocinadores</span></h2>
      <div class="protfolio_content">
        <div class="gallery_item flexslider">
          <ul class="slides-flex" style="list-style-type: none;">
            
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://www.cinematecaboliviana.net/" target="_blank">
                <img src="{% static "images/sponsors/cinemateca.jpg" %}" alt="Cinemateca" title="Cinemateca">
              </a>
            </li>
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://www.quipus.gob.bo/" target="_blank">
                <img src="{% static "images/sponsors/tigo.jpg" %}" alt="Quipus" title="Quipus">
              </a>
            </li>
             <li class="mix item type_sponsor" data-my-order="1">
              <a href="www.innovapplications.com/" target="_blank">
                <img src="{% static "images/sponsors/innovativeapps.jpg" %}" alt="Innovative Apps" title="Innovative Apps">
              </a>
            </li> 
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://www.mc4.com.bo/" target="_blank">
                <img src="{% static "images/sponsors/mc4.jpg" %}" alt="MC4 S.R.L." title="MC4 S.R.L.">
              </a>
            </li> 
             <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://siriustechsol.com/" target="_blank">
                <img src="{% static "images/sponsors/sirius.jpg" %}" alt="Sirius" title="Sirius">
              </a>
            </li>  
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="https://www.uber.com" target="_blank">
                <img src="{% static "images/sponsors/bluecircuits.jpeg" %}" alt="BlueCircuits" title="BlueCircuits">
              </a>
            </li>
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://elementalschool.com" target="_blank">
                <img src="{% static "images/sponsors/elemental.png" %}" alt="Elemental" title="Elemental">
              </a>
            </li>
            <li class="mix item type_sponsor" data-my-order="1">
              <a href="https://xiberty.com/" target="_blank">
                <img src="{% static "images/sponsors/xiberty.jpg" %}" alt="Xiberty" title="Xiberty">
              </a>
            </li>  
           <li class="mix item type_sponsor" data-my-order="1">
              <a href="http://www.toptal.com/" target="_blank">
                <img src="{% static "images/sponsors/toptal.png" %}" alt="Toptal" title="Toptal">
              </a>
            </li>             
          </ul>
        </div>
      </div>
      
      <!-- <h2><span>Medio digital </span>oficial</h2>
      <div class="protfolio_content">
        <div class="gallery_item flexslider">
          <ul class="slides-flex">
            
            <li class="mix item type_" data-my-order="1">
              <a href="http://www.vice.com/es_co">
                <img src="{% static "images/sponsors/vice.png" %}" alt="Vice Colombia" title="Vice Colombia">
              </a>
            </li>
            
          </ul>
        </div>
      </div> -->

      <h2 class="tituloprincipal"><span>Comunidades </span>aliadas</h2>
      <div class="protfolio_content">
        <div class="gallery_item flexslider">
          <ul class="slides-flex" style="list-style-type: none;">
            
            <li class="mix item type_group" data-my-order="1">
              <a href="https://www.facebook.com/GDG.bo/" target="_blank">
                <img class="round" src="{% static "images/sponsors/gdglapaz.jpg" %}" alt="GDG La Paz" title="GDG La Paz">
              </a>
            </li>
            
            <li class="mix item type_group" data-my-order="3">
              <a href="https://www.facebook.com/womentechmakerslapaz/" target="_blank">
                <img class="round" src="{% static "images/sponsors/women-techmakers.jpg" %}" alt="Women Tech Makers" title="Women Tech Makers">
              </a>
            </li>
            <li class="mix item type_group" data-my-order="2">
              <a href="https://www.facebook.com/dockerlapaz/" target="_blank">
                <img class="round" src="{% static "images/sponsors/docker.jpg" %}" alt="Docker La Paz" title="Docker La Paz">
              </a>
            </li>
            
            <!-- 
            <li class="mix item type_group" data-my-order="4">
              <a href="http://www.meetup.com/django-bogota/">
                <img class="round" src="{% static "images/sponsors/djangobog.png" %}" alt="Django Bogotá" title="Django Bogotá">
              </a>
            </li>
            
            <li class="mix item type_group" data-my-order="5">
              <a href="https://www.meetup.com/bogodev/">
                <img class="round" src="{% static "images/sponsors/bogodev.png" %}" alt="BogoDev" title="BogoDev">
              </a>
            </li> -->
            
          </ul>
        </div>
      </div>

       <!-- <h2><span>Empresas </span>aliadas</h2>
      <div class="protfolio_content">
        <div class="gallery_item flexslider">
          <ul class="slides-flex">
            
            <li class="mix item type_" data-my-order="1">
              <a href="http://www.tomatte.com/">
                <img src="{% static "images/sponsors/docker.jpg" %}" alt="Tomatte" title="Tomatte">
              </a>
            </li>
            
            <li class="mix item type_" data-my-order="2">
              <a href="http://www.ibosjob.com/">
                <img src="{% static "images/sponsors/docker.jpg" %}" alt="Ibos" title="Ibos">
              </a>
            </li>
            
            <li class="mix item type_" data-my-order="3">
              <a href="#">
                <img src="{% static "images/sponsors/docker.jpg" %}" alt="Desingrid" title="Desingrid">
              </a>
            </li>
            
          </ul>
        </div>
      </div> -->
      
    </div>
    
  </div>
</section> 
<section class="row g_map">
  <!-- Map -->
  <div id="map" 
  data.title="Centro de Comunicaciones" 
  data-latcenter="-16.507135"
  data-lngcenter="-68.138909"
  data-latmarker="-16.506335"
  data-lngmarker="-68.125560"></div>

  <div class="container">
    <div class="row contact_info">
      <h3>Lugar</h3>
      <div class="widget row m0">
        <ul>
          <li>
            <i class="fa fa-map-marker"></i>
            <div class="location_address fleft">
                <strong>Cinemateca Boliviana</strong> Calle Oscar Soria <br> esq. Rosendo Gutierrez #110
            </div>
          </li>
          <li>
            <i class="fa fa-clock-o"></i>
            <div class="fleft service_time">
              08:00 AM - 17:00 PM
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block loadfilesbelow %}
      <script type="text/javascript">
        $(document).on('click','.sponsors', function(event) {
            event.preventDefault();
            var target = "#" + this.getAttribute('data-target');
            $('html, body').animate({
                scrollTop: $(target).offset().top
            }, 2000);
        });
      </script>
{% endblock %}
